# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment variables (if you ever use them)
.env